*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: linear-gradient(to right,pink,gray,yellow); */
    background-color: aqua ;
}


/* DEBUT CONTAINER (CONTENUE) */
.container{
    width: 800px;
    background: aliceblue;
    border-radius: 30px;
    padding: 30px;
}
.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    background-color: aqua;
}
/* FIN CONTAINER (CONTENUE) */


/* DEBUT WRAPPER (EMBALLAGE) */
.wrapper{
    border-radius: 5px;
    border: 1px solid black;
}
.wrapper .text-input{
    display: flex;
    border-bottom: 2px solid #bbb;
}

/* FIN WRAPPER (EMBALLAGE) */


/* DEBUT TEXT INPUT */
.text-input textarea{
    width: 100%;
    height: 350px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
}

.text-input .to-text{
    border-radius: 0px;
    border-left: 1px solid #bbb;
}
/* FIN TEXT INPUT */

/* DEBUT CONTROLS */
.controls{
    list-style: none;
    padding: 12px 15px;
}
.controls, li, .icons,.icons i {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid red;
}
.controls .row.to .icons{
    padding-right: 15px;
    border-right: 1px solid red;
}
.controls .row .icons{
    width: 38%;
  }
.controls .row .icons i{
    width: 50px;
    color: brown;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
    justify-content: center;
}
.controls .icons i{
    width: 50%;
    color: blueviolet;
    font-size: 16px;
    cursor: pointer;
}
.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
.controls .exchange{
    color: bisque;
    font-size: 22px;
    cursor: pointer;
}
/* FIN CONTROLS */